<section class="container mx-auto grid grid-cols-3 gap-4 py-24 px-24">
  <article class="bg-gradient-to-bl from-celesteG to-azulG h-52 rounded-md p-6 flex">
    <img  class="h-full" src="../../../../../../assets/images/cifra1.png"/>
    <p class="ml-6 my-auto text-center text-blanco">
      <span class="text-3xl font-semibold">4 Pisos</span>
      <br/>
      <span>De Laboratorios operativos</span>
    </p>
  </article>
  <article class="bg-gradient-to-bl from-celesteG to-azulG h-52 rounded-md p-6 flex">
    <img  class="h-full" src="../../../../../../assets/images/cifra2.png"/>
    <p class="ml-6 my-auto text-center text-blanco">
      <span class="text-3xl font-semibold">18 Laboratorios</span>
      <br/>
      <span>complemetamente equipados </span>
    </p>
  </article>
  <article class="bg-gradient-to-bl from-celesteG to-azulG h-52 rounded-md p-6 flex">
    <img  class="h-full" src="../../../../../../assets/images/cifra3.png"/>
    <p class="ml-6 my-auto text-center text-blanco">
      <span class="text-3xl font-semibold">400 Equipos</span>
      <br/>
      <span>De Laboratorios complemetamente equipados </span>
    </p>
  </article>
</section>
