<section class="mx-auto container slider-h mt-2 relative" >
  <ng-particles
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
  ></ng-particles>
  <div class="absolute top-0 w-full h-full grid grid-cols-2 gap-4">
    <img class="image-w mx-auto my-auto" src="../../../../../../assets/images/slideImage.png" />
    <div class="flex flex-col justify-center items-center w-full" >
      <div class="text-xl text-azul1 font-medium text-center">
        <p>EQUIPO DE TRABAJO:</p>
        <p style="text-align: left; margin: 0 auto; max-width: 600px;">
          Quelca Velasquez, Daisy Crishyely - Gerente de Proyecto<br>
          Juarez Vargas, Henry - Diseñador UX/UI<br>
          Cutipa Santi, Michael - Desarrollador Frontend y Backend<br>
          Limachi Laricano, Herbert Juvenal - Equipo de QA<br>
          Apaza Caceres, Cesar Augusto - Administrador de Sistemas
        </p>
      </div>
      
          <br/>
          <button class="h-20 w-96 bg-verde4 shadow-md rounded text-xl text-blanco font-semibold transition duration-300 ease-in-out hover:shadow-md hover:cursor-pointer hover:bg-azul1 hover:text-blanco ">
            Reservar Laboratorio
          </button>

    </div>
  </div>
</section>
