<section class="container mx-auto w-full mb-28">
  <h2 class="text-center my-10 font-semibold text-azul1 text-4xl">
    Sotfware Disponible
  </h2>
  <div class="grid grid-cols-3 gap-4 px-24 ">
    <article class="p-6 rounded-md group transition duration-300 ease-in-out overflow-y-clip h-44 hover:cursor-pointer hover:shadow-md hover:bg-gris9">
      <img class="h-40 mx-auto transition group-hover:duration-500 group-hover:h-12 group-hover:mx-0" src="../../../../../../assets/images/AutoCAD-logо.png"/>
      <p class="  opacity-0 transition duration-300 ease-in-out group-hover:duration-500 group-hover:opacity-100 group-hover:text-xs group-hover:text-gris4">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
      </p>
    </article>
    <article class="p-6 rounded-md group transition duration-300 ease-in-out overflow-y-clip h-44 hover:cursor-pointer hover:shadow-md hover:bg-gris9">
      <img class="h-40 mx-auto transition group-hover:duration-500 group-hover:h-12 group-hover:mx-0" src="../../../../../../assets/images/AutoCAD-logо.png"/>
      <p class="  opacity-0 transition duration-300 ease-in-out group-hover:duration-500 group-hover:opacity-100 group-hover:text-xs group-hover:text-gris4">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
      </p>
    </article>
    <article class="p-6 rounded-md group transition duration-300 ease-in-out overflow-y-clip h-44 hover:cursor-pointer hover:shadow-md hover:bg-gris9">
      <img class="h-40 mx-auto transition group-hover:duration-500 group-hover:h-12 group-hover:mx-0" src="../../../../../../assets/images/AutoCAD-logо.png"/>
      <p class="  opacity-0 transition duration-300 ease-in-out group-hover:duration-500 group-hover:opacity-100 group-hover:text-xs group-hover:text-gris4">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
      </p>
    </article>
  </div>
</section>
