<div *ngIf="showModal" class="modal-back" @openModal>
  <div class="w-1/2 modal">
    <div class="modal-header" >
      {{titleType}} Usuario
      <span (click)="changeOut()" class="modal-exit" ><fa-icon [icon]="['fas','circle-xmark']" size="lg"></fa-icon></span>
    </div>
    <div class="modal-body">
      <form [formGroup]="dataForm">
        <div class="flex w-full mb-2">
          <div class="group-input">
            <label class="label">Nombre:</label>
            <input formControlName="name" type="text" class="input" />
          </div>
          <div class="group-input ml-3">
            <label class="label">Tipo:</label>
            <select formControlName="type" class="input input-select">
              <option value="office">Oficina</option>
              <option value="institution">Institución</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="changeOut()" class="btn-warning mx-5" >
        <fa-icon class="mx-2" [icon]="['fas','circle-xmark']" size="lg"></fa-icon> <span class="font-semibold">Cancelar</span>
      </button>
      <button (click)="saveCustomer()" class="btn-primary" >
        <fa-icon class="mx-2" [icon]="['fas','floppy-disk']" size="lg"></fa-icon> <span class="font-semibold">{{textBtnType}}</span>
      </button>
    </div>
  </div>
</div>

